*{
    margin: 0px;
    padding: 0px;
}
.primary-button{
    border-radius: 48px;
    color: #F948B2;
    background: #ffffff;
    padding: 13px 40px;
    margin-top: 20px;
}
.margin{
    margin-left: 150px;
}
.like{
    color: #0B0223;
    font-size: 40px;
    margin-bottom: 20px;
}
.banner-left{
    margin: 30px;
    padding-top: 90px;
    width: 50%;
    text-align: center;
}
.santo{
    border-radius: 8px;
    background: no-repeat;
    position: relative;
    bottom: 200px;
    
}
.banner-right-img{
    width: 0%;
    height: 570px;
}
.primary-button1{
    border-radius: 48px;
    color: #ffffff;
    background: #F948B2;
    padding: 13px 30px;
    margin-top: 20px;
}
.emon{
    margin-top: 40px;
    margin-left: 210px;
    padding: 7px;
}
.my{
    width: 33%;
    margin: auto;
    margin-bottom: 40px;
    color: #534C64;
}
.mr{
    font-size: 70px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.mr1{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    font-size: 10px;
    align-items: center;
}
.mr2{
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    font-size: 10px;
    align-items: center;

}
.mr3{
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    font-size: 10px;
    align-items: center;

}
.b1{
    padding: 15px 32px;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
}
.b2{
    padding: 15px 32px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}
.pic{
    width: 50%;
    margin: 30px;
    background: #FFF;
}
.pic img{
    width: 80%;
    margin: auto;
    height: auto;
    padding:50px;
}
.play{
    color: #F948B2;
}
.san{
    border-radius: 8px;
    background: no-repeat;
    position: relative;
    bottom: 200px;
    padding-left: 60%;
}
.symon{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-top: 20px;
    align-items: center;
}
.rakib{
    text-align: right;
    align-items: center;
}
.azad{
    color: rgb(51, 51, 51);
    padding: 10px;
}
.dipu{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
}
.kabir{
    text-align: left;
    align-items: center;
}
.main2{
    width: 100vh;
    height: 50vh;
    margin: 50px auto 0;
    margin-top: 22px;
    margin-bottom: 70px;
    display: flex;
    /* width: 100%; */

}
.game{
    color: #F948B2;
}
.first{
    display: flex;
    align-items: center;
}
.banner{
    width: 100%;
    height: 15vh;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
}
.img0{
    width: 40px;
    height: 20px;
    padding: 15px;
    margin-left: 100px;
}
.img1{
    height: 20px;
    width: 20px;
    padding-right: 10px;
}
.name{
    list-style: none ;
    display: flex;
    align-items: center;
}
.none{
    margin-right: 15px;
}
.align{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}
.last{
    width: 100%;
    height: 40vh;
    background: #0B0223;
    padding-top: 90px;
    padding-bottom: 10px;
}
.color{
    color: white;
}
.first-side{
    justify-content: center;
    display: flex;
    align-items: center;
}
.list1{
    color: white;
    display: flex;
    padding: 25px;
    gap: 60px;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}
.img00{
    width: 70.041px;
    height: 33px;
    padding-right: 25px;
}
.list2{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
}
.img000{
    height: 30px;
    width: 30px;
}
.list3{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
    color: rgb(165, 162, 162);
    font-size: small;
    margin-top: 40px;
}
.play-game{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
    color: rgb(165, 162, 162);
    font-size: small;
    padding: 15px;
}
.button{
    display: flex;
    align-items: center;
    border-radius: 80px;
    background-color: #FFF;
    padding: 5px;
}
.button-img{
    height: 30px;
    width: 30px;
}
.style00{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.style000{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}
.all{
    background-color: rgb(249, 234, 237) ;
    width: 100%;
    height: 40vh;
    padding-top: 70px;
}
.third{
    width: 100%;
    height: 80vh;
    background-color: #ff54bb;
}
.third-img{
    height: 100%;
    width: 98.5vh;
}
.list0{
    list-style: none;
    color: white;
}
.main-list0{
    display: flex;
    gap: 60px;
    padding-top: 15px;
}
.same{
    padding: 3px;
}
.main1{
    display: flex;
    justify-content: space-between;
}
.career{
    color: white;
    padding-bottom: 10px;
}
.driven{
    color: rgb(248, 226, 226);
}
.purpose{
    padding-top: 10px;
}
.we{
    padding-bottom: 10px;
}
.one{
    display: flex;
    background-color: #fde6f2;
    text-align: right;
    align-items: center;
}
.div4{
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.button:hover{
    background-color: #F948B2;
    color: rgb(75, 15, 186);
}
.alt{
    height: 80%;
    width: 90%;
}
.videos{
    color: #b7319ae2;
}
.videos1{
    color: rgb(69, 68, 68);
    text-align: center;
    font-size: small;
    padding: 10px;
}
.videos3{
    padding-top: 70px;
    text-align:center ;
}
.main2{
    background-color: rgb(244, 241, 241);
    height: 100%;
    width: 50vh;
}
.facts{
    width: 100%;
    height: 45vh;
    background-color:#0B0223;
    margin-bottom: 20px;
    border-radius: 60px;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #f5ecf2;
    padding: 10px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 10px;
    border: 1px solid #be0996;
    text-align: center;
    padding: 5px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}
.card-title-text-light-gray{
    color: white;
}
.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #dfd9d9;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width : 576px) {
    .banner .name{
        display: block;
    }
}